/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.search-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.search-inp {
  width: 240px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #808080;
  outline: none;
  padding: 10px 18px;
  background-color: transparent;
}

.search-inp::placeholder {
  color: #000000;
  background-color: transparent;
}

.search-inp:hover {
  border: 1px solid #000;
}

.search-inp:focus {
  border: 1px solid #4e75ff;
}

.search-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  background-color: #4e75ff;
  border: none;
  padding: 0;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  border-radius: 15px;
  width: 100%;
  justify-content: center;
  /* max-width: 1130px; */
  padding: 0 5px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 10px 1px 10px rgba(74, 41, 41, 0.366);
}

.gallery-item {
  flex-basis: calc((100% - 48 px) / 3);
  transition: transform 250ms ease-in-out;
  background-color: #fafafa;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.1);
}

.gallery-item:hover .gallery-descr {
  background-image: linear-gradient(320deg, #c50f73 0%, #7afb66 100%);
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-descr {
  font-size: 15px;
  letter-spacing: 0.02em;
  width: 360px;
  text-align: center;
  height: 45px;
  background-image: linear-gradient(320deg, #b7131e 0%, #12109b 100%);
}

.descr-span {
  font-weight: 500;
}

.error-svg {
  background-image: url(../img/error.svg);
}

.descr-span {
  font-weight: bold;
  color: #ffffff;
  text-decoration: underline;
}

.gallery-descr {
  font-weight: bold;
  color: #fff;
}

.load-btn {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.04em;
  width: 125px;
  height: 40px;
  border-radius: 10px;
  background-color: #4714e1;
  border: none;
  padding: 0 auto;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.load-btn:hover,
.load-btn:focus {
  background-color: #170551d8;
}

.load-btn.is-hidden {
  display: none;
}

.button {
  margin: 0 auto;
  padding: 20px 0px;
}

/* Loader */

.loader-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #130303;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #FF3D00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 